services:
  group1:
    hostname: group1 # used in bash-prompt, as group-name
    build:
      context: .
      dockerfile: Dockerfile
    # teams *may* crash the container, if they aren't careful
    restart: no # default 
    ports:
      - "3001:8080" # 300x number is the port for this group
    environment:
      - PASSWORD=${PASSWORD_GROUP1}
    deploy:
      resources:
        limits:
          cpus: '1.25' # Limit to 1.25 CPU cores
          memory: 1024M # Limit to 1GB of memory

  group2:
    hostname: group2
    build:
      context: .
      dockerfile: Dockerfile
    restart: no
    ports:
      - "3002:8080"
    environment:
      - PASSWORD=${PASSWORD_GROUP2}
    deploy:
      resources:
        limits:
          cpus: '1.25'
          memory: 1024M

  group3:
    hostname: group3
    build:
      context: .
      dockerfile: Dockerfile
    restart: no
    ports:
      - "3003:8080"
    environment:
      - PASSWORD=${PASSWORD_GROUP3}
    deploy:
      resources:
        limits:
          cpus: '1.25'
          memory: 1024M
  
  group4:
    hostname: group4
    build:
      context: .
      dockerfile: Dockerfile
    restart: no
    ports:
      - "3004:8080"
    environment:
    - PASSWORD=${PASSWORD_GROUP4}
    deploy:
      resources:
        limits:
          cpus: '1.25'
          memory: 1024M